# python 3.10
# pip

aperocore @ git+https://github.com/njcuk9999/apero-drs.git@v0.8.003#subdirectory=apero-core
arviz==0.20.0
astropy==5.3
batman-package==2.4.9
corner==2.2.2
dynesty==2.1.4
emcee==3.1.6
ipython==8.13.2
jax==0.4.35
jaxoplanet==0.0.2
kepmodel==1.0.6
lightkurve==2.5.0
matplotlib==3.7.1
notebook==7.2.2
numba==0.57.0
numexpr==2.8.4
numpy==1.24.3
numpyro==0.15.3
pandas==2.2.3
pandastable==0.13.1
radvel==1.4.11
ruamel.yaml==0.17.31
scipy==1.10.1
spleaf==2.1.11
starry==1.2.0
tinygp==0.3.0
tqdm==4.65.0
wget==3.2
xarray==2024.10.0